* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* REGOLE DI DEBUG */

/* nav {
    height: 100%;
} */

.menu-column {
    /* display: flex; */
    /* background-color: red; */
    padding: 0 20px;

}

.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}


.column-small {
    /* width: 40%; */
    height: 400px;
    /* background-color: violet; */
}

.column-big {
    position: relative;
    height: 400px;
    /* background-color: green; */
}

.columns .section-column {
    height: 300px;
    background-color: brown;
}




/* REGOLE CSS */
body {
    position: relative;
}

header {
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* .d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
 */


.menu-column ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.menu-column ul li {
    padding: 0 30px;
}

.menu-column ul img {
    height: 30px;
}


main {
    padding-top: 70px;
}


.container {
    max-width: 1170px;
    margin: auto;
}

.jumbo {
    background-color: #B4D0E7;
    /* height: 700px; */
}


.content {
    /* position: relative; */
    /* max-width: 1170px; */
    /* margin: auto; */
    /* text-align: left; */
    display: flex;
    justify-content: center;
    line-height: 32px;

}
.jumbo h1 {
    padding: 50px 0;
    text-align: center;
    font-size: 40px;
}

.jumbo button {
    margin: 30px 0;
}

.jumbo i {
font-size: 30px;
padding: 10px 0;
}

.column-big img {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
}









button {
    /* position:absolute;
    top: calc(100% - 200px);
    left: 0%; */
    background-color: #0061FF;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
}




.business-plan {
    width: 70%;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-column {
    width: calc(100% / 4);
    margin: 20px;
}

.enetrprice {
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px;

}

.loghi {
    /* width: 100%; */
    display: flex;
}

.column-side {
    width: calc(100% / 3);
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
}

.column-center {
    width: calc(100% / 3);
}


.column-side .img {
    width: 50%;
    padding-top: 50%;
    height: 0;
    overflow: hidden;
    background-color: #57BCB7;
    position: relative;
    border: 1px solid red;

}

.free-trial {
    height: 250px;
    padding: 20px;
    background-color: #B4D0E7;
}

.faq {
    height: 500px;
    padding: 20px;
    background-color: #c2f3c0;
}


footer {
    background-color: black;
    /* height: 600px; */
}

.footer-container {
    height: 500px;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    /* margin: auto; */
}


.column {
    width: calc(100% / 5);
    color: white;
    background-color: #57BCB7;
    margin: 10px;
}

.column ul {
    list-style-type: none;
}

.language {
    height: 30px;
    /* margin-top: 100px; */
    background-color: lightsalmon;
}


/* .ring {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
} */

.circle-blue {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #0061FF;
    margin: 0px 20px;
    /* position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%); */
}

.circle-gray {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #D0D0D3;
    margin: 0px 20px;
}

.check {
    margin: 20px 0px;
}

.check span {
    line-height: 20px;
    vertical-align: middle;
}