* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* REGOLE DI DEBUG */

.menu-column {
    height: 40px;
    width: 500px;
    background-color: red;

}

.column-small {
    width: 40%;
    height: 400px;
    background-color: violet;
}

.column-big {
    width: 60%;
    height: 400px;
    background-color: green;
}

.columns .section-column {
    height: 300px;
    background-color: brown;
}

/* .column-side {
    width: 400px;
    height: 400px;
    background-color: violet;
}

.column-center {
    width: 600px;
    height: 400px;
    background-color: green;
}

 */







/* REGOLE CSS */
body {
    position: relative;
}

header {
    background-color: #FF6900;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main {
    margin-top: 100px;
    /* height: 100vh; */
    /* overflow-y: scroll; */
}

footer {
    background-color: black;
    height: 600px;
}

.menu-column {
    /* width: 40%; */

}

.menu-column ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.jumbo {
    padding-top: 50px;
    background-color: #B4D0E7;
    height: 700px;
}

.content {
    max-width: 1170px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;

}

.content .column-small {
    /* width: 40%;*/
}

.content .bus-big {
    /* width: 60%; */
}

.business-plan {
    /* height: 1000px; */
    width: 70%;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-column {
    width: calc(100% / 4);
    margin: 20px;
}

.enetrprice {
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px;

}

.loghi {
    /* height: 500px; */
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
}

.column-small .img1 {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    float: left;
}

img {
    width: 100%;
}